@model IEnumerable<Gshop.Models.Console>
@{
    ViewBag.Title = "Consolas";
}

<h2>Consolas</h2>
<hr />

@Html.ActionLink("Nueva Consola", "ConsoleForm", null, new { @class = "btn btn-primary btn-lg" })

@if (!Model.Any())
{
    <h4><p>Aun no se ha registrado ninguna Consola.</p></h4>
}
else
{
    <br />
    <br />
    <br />
        <table class="table table-hover" style="font-size:large;">
            <thead>
                <tr>
                    <th>Consola</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var console in Model)
                {
                    var hr = String.Format("Modal" + console.Id);
                    <tr>
                        <td>@Html.ActionLink(console.Name, "Details", new { id = console.Id })</td>
                        <td>$@console.Price.00</td>
                        <td>@console.Stock</td>
                        <td>@Html.ActionLink("Modificar", "Edit", new { id = console.Id }, new { @class = "btn btn-default" })</td>
                        <td>
                            <button type="button" data-keyboard="false" data-backdrop="static" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#@hr">
                                X
                            </button>
                        </td>
                    </tr>
                    <div class="modal fade" id="@hr">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Eliminar Consola</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Esta seguro que desea eliminar esta consola?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    @Html.ActionLink("Eliminar", "Delete", new { id = console.Id }, new { @class = "btn btn-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </tbody>
        </table>
}


